<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        Employee List
      </div>
      <div class="card.body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email Id</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                  <tr>
                    <td>{{$index}}</td>
                    <td>{{item.empName}}</td>
                    <td>{{item.empContactNo}}</td>
                    <td>{{item.empEmailId}}</td>
                    <td class="text-center">
                      <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                      <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
          New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm" >
        <div class="row">
          
          <div class="col-12">
            <label for="">Name</label>
            <input type="text" formControlName="empName" class="form-control">
            <div class="text-danger">
              @if (employeeForm.controls['empName'].touched){
                @if (employeeForm.controls['empName'].errors?.['required']){
                  <span>Name required.</span>
                }
              }
            </div>
          </div>
          <div class="col-6">
            <label for="">Contact</label>
            <input type="text" formControlName="empContactNo" class="form-control">
            <div class="text-danger">
              @if (employeeForm.controls['empContactNo'].touched){
                @if (employeeForm.controls['empContactNo'].errors?.['required']){
                  <span>Contact Number required.</span>
                }
                @if (employeeForm.controls['empContactNo'].errors?.['minlength']){
                  <span>Min 10 char required.</span>
                }
              }
            </div>
          </div>
          <div class="col-6">
            <label for="">Email</label>
            <input type="text" formControlName="empEmailId" class="form-control">
          </div>
          <div class="col-6">
            <label for="">City</label>
            <input type="text" formControlName="empCity" class="form-control">
          </div>
          <div class="col-6">
            <label for="">State</label>
            <input type="text" formControlName="empState" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Pin Code</label>
            <input type="text" formControlName="empPincode" class="form-control">
          </div>
          <div class="col-12">
            <label for="">Address</label>
            <textarea formControlName="empAddress" class="form-control"></textarea>
          </div>          
        </div>
        <div class="row pt-2">
          <div class="col-6 text-center">
            <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
          <div class="col-6 text-center">
            @if (employeeForm.controls['empId'].value == '1') {
              <button type="button" class="btn btn-success" [disabled]="employeeForm.invalid" (click)="onSave()">Save</button>
            }
            @else {
              <button type="button" class="btn btn-warning" [disabled]="employeeForm.invalid" (click)="onUpdate()">Update</button>
            }
          </div>          
        </div>
      </form>
      </div>
    </div>
  </div>
</div>